//COLOURS
$colour-primary: #55c57a;
$colour-primary-2: #8ce2ae6a;
$colour-primary-light: #7ed56f;
$colour-primary-dark: #28b485;
$colour-primary-blue: #07376b8d;

$colour-secondary-light: #ffb900;
$colour-secondary-dark: #ff7730;

$colour-tertiary-light: #2998ff;
$colour-tertiary-dark: #5643fa;

$colour-white: #fff;
$colour-grey: #777;
$colour-grey-dark: #999;
$colour-grey-dark-2: #232323;

$colour-black: #000;

$colour-grey-light-1: #f7f7f7;
$colour-grey-light-2: #eee;
$colour-grey-light-3: #c6c6c6;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;
