.btn {
  &, //this applies all the below to the btn 
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 1rem rgba($colour-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($colour-black, 0.2);
  }

  &--white {
    background-color: $colour-white;
    color: $colour-grey;

    &::after {
      background-color: $colour-white;
    }

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }

    &--animated {
      animation: moveInBottom 0.5s ease-in-out 0.75s;
      animation-fill-mode: backwards; /* will apply the animations of the 0% keyframes first */
    }
  }

  &--green {
    background-color: $colour-primary;
    color: $colour-white;

    &::after {
      background-color: $colour-primary;
    }

    &--animated {
      animation: moveInBottom 0.5s ease-in-out 0.75s;
      animation-fill-mode: backwards; /* will apply the animations of the 0% keyframes first */
    }
  }

  &--form {
    margin-top: 2rem;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $colour-primary-dark;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $colour-primary-dark;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $colour-primary-dark;
    color: $colour-white;
    box-shadow: 0 1rem 2rem rgba($colour-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 1rem 2rem rgba($colour-black, 0.15);
    transform: translateY(0);
  }
}
