.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($colour-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.3s;
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    /* Brings hovered image to the front with a border */
    &:hover {
      outline: 1rem solid $colour-primary-dark;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($colour-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    /* shrinks other images on image hover */
    transform: scale(0.95);
  }
}

/* laptop n bigger*/
@media (min-width: 1025px) {
  selector {
    padding: 40px 80px !important;
    margin: 0 !important;
  }
}

/* tablet*/
@media (min-width: 768px) {
  selector {
    margin: 0px !important;
  }
}

/* mobile*/
@media (min-width: 480px) {
  selector {
    margin-bottom: -20px !important;
    padding: 30px;
  }
}

/* laptop n bigger*/
@media (min-width: 768px) {
  selector {
    padding: 40px 30px !important;
    margin-left: -36px !important;
  }
}

/* mobile*/
@media (max-width: 768px) {
  selector {
    padding: 30px;
    margin-left: 0px !important;
    margin-top: -20px !important;
    margin-bottom: 0px !important;
  }
}
